
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container-carrito{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#fff;
  margin-top: 20px;
  color: #000;
  font-family:'Poppins', sans-serif;

}

.container-principal-carrito{
  margin: 0 100px;
  background-color: #000;
}

.container-carrito img{
  width: 200px;
}
.container-carrito h1{
  width: 100%;
  max-width: 60%;
  text-align: center;
  font-family:'Kanit', sans-serif;
  text-transform: uppercase;
}
.container-carrito h2{
  width: 100%;
  max-width: 10%;
  text-align: center;
  font-family:'Kanit', sans-serif;
  text-transform: uppercase;
}
.total{
  width: 100%;
  max-width: 10%;
  text-align: center;
  font-family:'Kanit', sans-serif;
  text-transform: uppercase; 
  color: red;
}
.container-carrito h3{
  width: 100%;
  max-width: 10%;
  text-align: center;
  font-family:'Kanit', sans-serif;
  text-transform: uppercase;
}

/* Btn Vaciar */
.container-btnVaciar{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color:#fff;
  color: #000;
  font-family:'Poppins', sans-serif;
}

/* Mensaje carrito vacio */
.container-aviso-vacio{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff !important;
}