
/* Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container-carrito{
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#000;
  text-align: center;
  text-transform: uppercase;
  padding: 0 50px;
  margin-top: 20px;
  color: #fff;
  font-family:'Kanit', sans-serif;
  border-radius: 20px;
}

.container-principal-carrito{
  background-color: #fff;
  margin: 50px 0 350px 0;
}


.container-carrito img{
  width: 200px;
}

.total{
  color: green;
}
.container-carrito h3{
  width: 100%;
  max-width: 10%;
  text-align: center;
  text-transform: uppercase;
}

.btn-eliminar{
  width: 70px;
  height: auto;
  font-size: 20px;
  font-weight: 700;
  color:#fff;
  background-color: #000;
  border: none;
  padding: 3px ;
  cursor: pointer;
  border-radius: 50%;
  transition:  color .3s ease , background-color .3s ease; 
}

.btn-eliminar:hover{
  background-color: #fff;
  color: red;
}


/* Btn Vaciar */
.container-btn-footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #fff;
  font-size: 18px;
  margin: 20px 0;
  gap:50px;
}

.btn-vaciar{
  width: 150px;
  height: auto;
  font-weight: 700;
  background-color: #000;
  color:#fff;
  padding: 3px ;
  cursor: pointer;
  transition: color .3s ease;
}

.btn-vaciar:hover{
  color: red;
}

.btn-confirm{
  width: 200px;
  height: auto;
  font-weight: 700;
  background-color: green;
  color:#fff;
  padding: 3px ;
  cursor: pointer;
  transition: color .3s ease , background-color .3s ease;
}

.btn-confirm:hover{
  color: green;
  background-color:transparent;
}

/* Mensaje carrito vacio */
.container-aviso-vacio{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff !important;
  margin-top: 100px;
}

.msj-vacio{
  font-size: 50px;
  text-transform: uppercase;
  color: red;
}

.msj-vacio i{
  font-size: 40px;
  margin: 0 20px;
}


/* Media Q */

@media (max-width:1190px){
  .container-carrito{
    padding: 0 10px;
  }

  .container-principal-carrito{
    margin: 30px 0 300px 0;
  }

}

@media (max-width:1080px){

  .container-principal-carrito{
    margin: 30px 0 500px 0;
  }

}

@media (max-width:900px){
  .container-carrito{
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 10px 0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
  }
  .container-principal-carrito{
    background-color: #000;
    padding:20px;
  }

  
  .container-btn-footer{
    margin-top: 60px;
    background-color: #000;
  }
  .btn-vaciar{
    border: 1px solid red;
  }

  .btn-eliminar{
    width: fit-content;
    color:#000;
    background-color: transparent;
  }
}

@media(max-width:740px){
  .msj-vacio{
    font-size: 35px;
    text-transform: uppercase;
    color: red;
  }
  .msj-vacio i {
    font-size: 25px;
    margin: 0;
  }
}

@media(max-width:540px){
  .msj-vacio{
    font-size: 35px;
    text-transform: uppercase;
    color: red;
  }
  .msj-vacio i {
    display: none;
  }
}