/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
  min-height: 100%;
  position: relative;
}
body{
  margin: 0;
  margin-bottom: 40px;
}

.container-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
  font-family:'Poppins', sans-serif;
  color: #fff;
}

/* Medios de pago y redes*/
.container-redes,
.container-img-medios{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-wrap: wrap;
}
.footer-redes-contacto,
.footer-medios{
  margin-left: 20px;
}

/* Medios de pago y envio*/

.container-footer h3{
  font-size:24px;
  font-weight: 500;
  color: #fff;
  margin: 25px 0 10px 0;
}

.container-img-medios img{
  width: 50px;
  height: 26px;
  margin-bottom: 7px;
}



/* Redes y Contacto */


.container-redes{
  margin: 0;
}

.container-redes i{
  font-size: 25px;
}

.container-redes div{
  margin-right: 20px;
}

.footer-contacto i{
  font-size: 16px;
  margin-right: 5px;
}

.footer-contacto p{
  margin: 0;
}

/* Media Q */
@media (max-width:1070px){
  .footer-medios,
  .footer-redes-contacto{
    width: 100%;
  }

  .container-productos{
    margin: 0px 0 450px 0;
  }
}

@media (max-width:500px){
  .container-footer{
    padding: 0px 10px;
  }
  .container-footer h3{
    font-size:20px;
  }
}

