.section-productos{
  background-color: #fff;
}

.container-img-prod{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-prod img{
  width: 100%;
  height: 100%;
}

.container-productos{
  display: grid;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}