/* Tipografia Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.contenedor-detalles{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
  margin: 0px 0px 250px 0px;
}

/* Ul detalles */
.info-ruta{
  margin: 0 !important;
  padding: 0 !important;
}

ul{
  display: flex;
  list-style: none;
}

li{
  font-family: 'Kanit' , sans-serif;
  font-weight: 500;
  margin: 0 3px;
}
a{
  color: #000 !important;
  text-decoration: none !important;
}

.li-inicio::after{
  content: '/';
  margin: 0 5px;
}
.li-category::after{
  content: '/';
  margin: 0 5px;
}

.li-name{
  text-transform: uppercase;
}



/* Detalles Img */


.img-principal-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-principal{
  width: 450px;
}

.img-detalles{
  display: grid;
  justify-content: center;
  align-content: center;
}

.img-detalles img{
  width: 81px;
  height: 81px;
  cursor: pointer;
  margin: 10px 0;
}

/* Si no tiene imgDettale */
.img-none-detalle{
  display: none;
}


/* Info producto */

.info-detalles-pirncipal{
  padding-left: 70px;
}

.info-detalles-container{
  display: grid;
  justify-content: center;
  align-content: center;
}

.info-detalles-container h1{
  font-size: 40px;
  text-transform: uppercase;
  font-family: Roboto , sans-serif;
  font-weight: 500;
  margin: 30px 0  20px;
}

.info-detalles-container h3{
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Kanit' , sans-serif;
  font-weight: bolder;
}

.info-detalles-container span{
  font-size: 16px;
  font-family: 'Kanit' , sans-serif;
  font-weight: 400;
  margin-top: 10px;
}


/* Parrafo Info */

.info-producto{
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 600px;
  overflow-wrap: anywhere;
  margin-top: 50px;
}

.info-producto h2{
  font-size: 30px;
  font-family: 'Kanit' , sans-serif;
  font-weight: 400;
  margin-top: 10px;
  color: red;
}

.info-producto p{
  font-size: 16px;
  font-family: 'Kanit' , sans-serif;
  font-weight: 400;
}




/* Detalle de compra */

.info-compra-cliente{
  display: grid;
  margin-top: 55px;
}

.info-compra-cliente label{
  font-size: 14px;
  font-family: 'Kanit' , sans-serif;
  font-weight: 200;
}

.info-compra-cliente select{
  width: 100%;
  max-width: 40%;
  height: 50px;
  text-align: left;
  font-size: 16px;
  font-family: 'Kanit' , sans-serif;
  font-weight: 400;
  border: 1px solid #d2d2d2da;
}

.info-compra-cliente select::selection{
  background: #39f;
  text-shadow: none;
}

.info-compra-cliente select:focus{
  outline: none;
}


.info-compra-cliente option{
  font-size: 15px;
  font-family: 'Kanit' , sans-serif;
  font-weight: 400;
  border: 1px solid #d2d2d2da;
}

/* Btn Finalizar compra */
.finalizar-compra{
  width: 500px;
  height: 50px;
  background-color: green;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  border: none;
  cursor: pointer;
}


/* Container cantodad y btn compra */
.container-cantidad-compra{
  margin-top: 50px;
  width: fit-content;
}


/* Sin stock */
.container-sinstock{
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.p-sinstock{
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  background-color: rgba(246, 246, 246, 0.833);
  border: 1px solid #000;
}



/* MediaQ */
@media (max-width:1300px){
  .info-detalles-pirncipal{
    padding-left: 0px;
  }
}

@media (max-width:1226px){
  .contenedor-detalles{
    display: block;
    padding: 50px 0;
  }

  .info-producto{
    display: block;
    width: 100%;
    padding: 0 20px;
  }

  .info-detalles-container{
    display: block;
  }

  .info-detalles-pirncipal{
    padding: 0 20px;
  }

  .info-compra-cliente select{
    max-width: 80%;
  }

  .container-cantidad-compra{
    width: 100%;
  }

  .img-principal-container{
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .img-detalles{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  

  .img-none,
  .info-none{
    display: none;
  }

  .finalizar-compra{
    width: 100%;
  } 
  
}

@media (max-width:1070px){
 
  .contenedor-detalles{
    margin: 0px 0px 450px 0px;
  }
}



@media (max-width:520px){
 
  .img-principal{
    width: 100%;
  }
}



@media (min-width:1227px){
  .img-detalles-duplicado,
  .info-producto-duplicado{
    display: none;
  }

}