/* Tipografia Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.contenedor-contador{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
}


.numero-contador{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Kanit', sans-serif;
  width: 150px;
   color: #fff;
  text-align: center;
}

.contenedor-contador button{
  width: 60px;
  height: 35px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Kanit', sans-serif;
  background-color: #111;
  color: #fff;
  border: none;
  cursor: pointer;
}


.contenedor-agregarAlCarrito{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contenedor-agregarAlCarrito button{
  width: 200px;
  height: 35px;
  background-color: #111;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  border: none;
  cursor: pointer;
}