.contenedor-principal{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.contenedor-principal h1{
  font-size: 30px;
  text-transform: uppercase;
  font-family: Roboto , sans-serif;
}

.contenedor-btnadd{
  display: grid;
  justify-content: center;
  align-items: center;
}