/* Navbar Container */

.navbar-container{
  font-family: 'Kanit', sans-serif;
  background-color: #000;
  padding: 15px;
}

.navbar-container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.navbar-container li{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin: 0 20px;
  list-style: none;
  cursor: pointer;
}

.navbar-container a{
  color: #fff !important;
  text-decoration: none;
}


/* Hover Categorys */

.nav-categorys{
  display: none !important;
  transition: all .3s ease;
  text-align: left;
  z-index: 3;
}

.nav-categorys li{
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 150px 10px 10px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.nav-categorys li:hover{
  background-color: #222;
}

.list-products i{
  margin-left:10px;
}

.list-products:hover .nav-categorys{
  position: absolute;
  display: block !important;
  background-color: #000;
}

/* Carrtio */
.cantidad-carrito{
  font-size: 18px;
  font-weight: 600;
  font-family: Roboto , sans-serif;
  margin-left: 5px;
}
  
.fa-cart-shopping{
  font-size: 18px;
}



/* MediaQ */
@media (max-width:768px){
  
  .navbar-container ul{
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-container{
    display: none;
  }

  .navbar{
    display: block!important;
    position: sticky!important;
    background-color: #111!important;
  }


}