/* Tipografia Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.container-prox{
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 100px;
}

.container-prox h1{
  font-size: 50px;
  font-family: 'Kanit' , sans-serif;
  text-transform: uppercase;
  color: red;
}

.container-prox i {
  font-size: 45px;
  color: red;
}